# data exploration

In [233]:
import pandas as pd

# input file - dataset only when the pump is opening
file_directory = './sample data/output_all_4_data.csv'

# output file - without useless features (for modelling)
modelling_data_directory = './sample data/modelling_dataset_levels.csv'
modelling_diff_data_directory = './sample data/modelling_diff_dataset_levels.csv'
modelling_only_open_diff_data_directory = './sample data/modelling_only_open_diff_dataset_levels.csv'

In [234]:
df = pd.read_csv(file_directory, parse_dates=['measurement_result_date'])
df.shape

(8640, 400)

In [235]:
df = df.rename(columns={'Average Result Value': 'pump_average_speed_sum'})

In [236]:
df.head(5)

,measurement_result_date,average_result_value,statistic_type,asset_code,facility_code,pump_average_speed_sum,Measurement_Result_Date_Minute_15,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,...,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,travel_time_hrs_nom,flow_nom,timestamp,node_id,zone_id,water_level
0,2016-12-01 00:00:00,1.4572,Snap (Current),WQM01,WQ0118,1,2016-12-01 00:00:00,0.537967,0.677703,0.838600,...,1.709118,1.707396,1.708366,17.4,2.789096,1.931739,2016-12-01 00:00:00,31238.0,engadine_rem_flow_zone,58.92
1,2016-12-01 00:15:00,1.4560,Snap (Current),WQM01,WQ0118,1,2016-12-01 00:15:00,0.374730,0.537967,0.677703,...,1.711658,1.709118,1.707396,17.4,2.789096,1.931739,2016-12-01 00:15:00,31238.0,engadine_rem_flow_zone,59.53
2,2016-12-01 00:30:00,1.4540,Snap (Current),WQM01,WQ0118,1,2016-12-01 00:30:00,0.228371,0.374730,0.537967,...,1.714862,1.711658,1.709118,17.4,2.789096,1.931739,2016-12-01 00:30:00,31238.0,engadine_rem_flow_zone,60.14
3,2016-12-01 00:45:00,1.4432,Snap (Current),WQM01,WQ0118,1,2016-12-01 00:45:00,0.169935,0.228371,0.374730,...,1.718593,1.714862,1.711658,17.4,2.789096,1.931739,2016-12-01 00:45:00,31238.0,engadine_rem_flow_zone,60.75
4,2016-12-01 01:00:00,1.4306,Snap (Current),WQM01,WQ0118,1,2016-12-01 01:00:00,0.172979,0.169935,0.228371,...,1.720893,1.718593,1.714862,17.4,2.789096,1.931739,2016-12-01 01:00:00,31238.0,engadine_rem_flow_zone,61.35

# data cleaning

In [237]:
df.describe()

,average_result_value,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,...,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,travel_time_hrs_nom,flow_nom,node_id,water_level
count,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,...,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,8.640000e+03,8.640000e+03,8640.0,8640.000000
mean,1.182842,0.322222,2.408267,2.408307,2.408366,2.408444,2.408531,2.408613,2.408670,2.408700,...,1.480150,1.480194,1.480239,1.480283,1.480327,21.732778,2.789096e+00,1.931739e+00,31238.0,61.453346
std,0.148628,0.471301,1.825524,1.825483,1.825424,1.825349,1.825267,1.825195,1.825153,1.825136,...,0.079535,0.079557,0.079579,0.079599,0.079619,1.876411,1.625461e-13,2.686895e-13,0.0,5.311319
min,0.745000,0.000000,0.001786,0.001786,0.001786,0.001786,0.001786,0.001786,0.001786,0.001786,...,1.254849,1.254849,1.254849,1.254849,1.254849,17.400000,2.789096e+00,1.931739e+00,31238.0,51.830000
25%,1.076400,0.000000,0.744151,0.744151,0.744494,0.745410,0.745831,0.746226,0.746226,0.746226,...,1.428040,1.428064,1.428073,1.428096,1.428167,20.650000,2.789096e+00,1.931739e+00,31238.0,56.970000
50%,1.179800,0.000000,2.306694,2.306694,2.306694,2.306694,2.306694,2.306694,2.306694,2.306694,...,1.482050,1.482063,1.482069,1.482085,1.482119,22.350000,2.789096e+00,1.931739e+00,31238.0,61.360000
75%,1.288400,1.000000,3.631555,3.631555,3.631555,3.631555,3.631555,3.631555,3.631555,3.631555,...,1.532148,1.532177,1.532192,1.532228,1.532244,22.950000,2.789096e+00,1.931739e+00,31238.0,65.942500
max,1.617200,2.000000,10.305820,10.305820,10.305820,10.305820,10.305820,10.305820,10.305820,10.305820,...,1.735576,1.735576,1.735576,1.735576,1.735576,24.550000,2.789096e+00,1.931739e+00,31238.0,75.090000

* average_result_value: label
* Average Result Value: pump speed - sum 3 nodes
* zone_flow_hist_0min: flow speed (record in every 15mins - total: 2 days)
* res_cl_hist_0min: upstream result history of chlorine (record in every 15mins - total: 2 days)
* res_temperature
* water_level

In [238]:
feature_droped = ['zone_id', 'node_id', 'timestamp', 'flow_nom', 'travel_time_hrs_nom', 'Measurement_Result_Date_Minute_15', 'facility_code', 'asset_code', 'statistic_type']
df_tem = df.drop(feature_droped ,axis=1)
df_tem.shape

(8640, 391)

In [239]:
# df_tem - droped useless feature data
df_tem.head(5)

,measurement_result_date,average_result_value,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,...,res_cl_hist_2775min,res_cl_hist_2790min,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,water_level
0,2016-12-01 00:00:00,1.4572,1,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,...,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,1.708366,17.4,58.92
1,2016-12-01 00:15:00,1.4560,1,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,...,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,17.4,59.53
2,2016-12-01 00:30:00,1.4540,1,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,...,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,17.4,60.14
3,2016-12-01 00:45:00,1.4432,1,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,...,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,17.4,60.75
4,2016-12-01 01:00:00,1.4306,1,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,...,1.730591,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,17.4,61.35

# Data pre-processing
* change label to diff value
* 19/09/2017
 - get diff in time
 - 25/09/2018

In [240]:
# get diff in label
df_label_diff = df_tem['average_result_value'].diff()
df_label_diff[8635:]

8635   -0.0082
8636    0.0032
8637    0.0000
8638    0.0000
8639    0.1630
Name: average_result_value, dtype: float64

In [241]:
# label describe
df_label_diff.describe()

count    8639.000000
mean       -0.000025
std         0.041528
min        -0.370000
25%        -0.007600
50%        -0.002000
75%         0.003200
max         0.419000
Name: average_result_value, dtype: float64

In [242]:
# form new diff dataset with all data
df_tem_1 = df_tem.drop(['average_result_value'], axis=1)
df_diff = pd.concat([df_tem_1, df_label_diff], axis=1)
df_diff.shape

(8640, 391)

In [243]:
df_diff.head(5)

,measurement_result_date,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,...,res_cl_hist_2790min,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,water_level,average_result_value
0,2016-12-01 00:00:00,1,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,1.529712,...,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,1.708366,17.4,58.92,NaN
1,2016-12-01 00:15:00,1,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,...,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,17.4,59.53,-0.0012
2,2016-12-01 00:30:00,1,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,...,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,17.4,60.14,-0.0020
3,2016-12-01 00:45:00,1,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,...,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,17.4,60.75,-0.0108
4,2016-12-01 01:00:00,1,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,...,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,17.4,61.35,-0.0126

In [244]:
# form new diff dataset with all data
# - without invalid first line

df_diff.drop([0], inplace=True)
df_diff.head(5)

,measurement_result_date,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,...,res_cl_hist_2790min,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,water_level,average_result_value
1,2016-12-01 00:15:00,1,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,...,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,17.4,59.53,-0.0012
2,2016-12-01 00:30:00,1,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,...,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,17.4,60.14,-0.0020
3,2016-12-01 00:45:00,1,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,...,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,17.4,60.75,-0.0108
4,2016-12-01 01:00:00,1,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,...,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,17.4,61.35,-0.0126
5,2016-12-01 01:15:00,1,0.189868,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,...,1.730591,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,17.4,61.97,-0.0014

# Output only open dataset

In [249]:
# only open dataset
df_tem_only_open = df_diff.loc[df_diff['pump_average_speed_sum']>0]
df_tem_only_open = df_tem_only_open.sort_values(['measurement_result_date'])

In [250]:
# Output only open dataset
df_tem_only_open.drop(['measurement_result_date'], axis=1).to_csv(modelling_only_open_diff_data_directory, index=None)

# Output open data with 2 hours close

In [251]:
df_tem_only_open.head(4)

,measurement_result_date,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,...,res_cl_hist_2790min,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,water_level,average_result_value
1,2016-12-01 00:15:00,1,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,...,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,17.4,59.53,-0.0012
2,2016-12-01 00:30:00,1,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,...,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,17.4,60.14,-0.0020
3,2016-12-01 00:45:00,1,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,...,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,17.4,60.75,-0.0108
4,2016-12-01 01:00:00,1,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,...,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,17.4,61.35,-0.0126

In [252]:
df_tem_only_open.shape

(2767, 391)

In [253]:
# get diff in time
df_time_diff = df_tem_only_open['measurement_result_date'].diff()
df_tem_only_open['time_diff'] = df_time_diff
df_tem_only_open.head(5)

,measurement_result_date,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,...,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,water_level,average_result_value,time_diff
1,2016-12-01 00:15:00,1,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,...,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,17.4,59.53,-0.0012,NaT
2,2016-12-01 00:30:00,1,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,...,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,17.4,60.14,-0.0020,00:15:00
3,2016-12-01 00:45:00,1,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,...,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,17.4,60.75,-0.0108,00:15:00
4,2016-12-01 01:00:00,1,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,...,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,17.4,61.35,-0.0126,00:15:00
5,2016-12-01 01:15:00,1,0.189868,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,...,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,17.4,61.97,-0.0014,00:15:00

In [258]:
df_tem_only_open['time_diff'].describe()

count                      2766
mean     0 days 00:46:50.629067
std      0 days 02:51:27.299838
min             0 days 00:15:00
25%             0 days 00:15:00
50%             0 days 00:15:00
75%             0 days 00:15:00
max             0 days 18:45:00
Name: time_diff, dtype: object

In [269]:
df_diff = df_diff.sort_values(['measurement_result_date'])

In [270]:
import datetime

count = 0
df_tem_series_result = df_tem_only_open
for i in range(0, len(df_tem_only_open)):
    if df_tem_only_open.iloc[i]['time_diff'] > datetime.timedelta(minutes=15):
#         print df_tem_only_open.iloc[i-1]['measurement_result_date'], "diff:", df_tem_only_open.iloc[i]['time_diff']
        num = df_diff[df_diff['measurement_result_date'] == df_tem_only_open.iloc[i-1]['measurement_result_date']].index.tolist()
#         print num[0]
        df_tem_series = df_diff.iloc[num[0]+1:num[0]+9]
        df_tem_series_result = pd.concat([df_tem_series_result, df_tem_series])

In [271]:
df_tem_series_result.shape

(3695, 392)

In [272]:
# only open data
df_tem_only_open['measurement_result_date'].describe()

count                    2767
unique                   2767
top       2017-01-04 02:30:00
freq                        1
first     2016-12-01 00:15:00
last      2017-02-28 23:45:00
Name: measurement_result_date, dtype: object

In [273]:
# add 2 hours close data
df_tem_series_result['measurement_result_date'].describe()

count                    3695
unique                   3564
top       2016-12-10 22:15:00
freq                        2
first     2016-12-01 00:15:00
last      2017-02-28 23:45:00
Name: measurement_result_date, dtype: object

In [259]:
# 构建完整，可用于检查的数据 （包含时间戳及时间差）
df_tem_series_result.head(5)

,average_result_value,measurement_result_date,pump_average_speed_sum,res_cl_hist_0min,res_cl_hist_1005min,res_cl_hist_1020min,res_cl_hist_1035min,res_cl_hist_1050min,res_cl_hist_105min,res_cl_hist_1065min,...,zone_flow_hist_870min,zone_flow_hist_885min,zone_flow_hist_900min,zone_flow_hist_90min,zone_flow_hist_915min,zone_flow_hist_930min,zone_flow_hist_945min,zone_flow_hist_960min,zone_flow_hist_975min,zone_flow_hist_990min
1,-0.0012,2016-12-01 00:15:00,1,1.534634,1.586609,1.587583,1.586375,1.584198,1.512596,1.581583,...,3.191080,3.500224,3.997968,1.151700,4.652041,5.138618,5.320497,5.347042,5.347777,5.349607
2,-0.0020,2016-12-01 00:30:00,1,1.536314,1.583170,1.586609,1.587583,1.586375,1.517226,1.584198,...,3.020517,3.191080,3.500224,1.086506,3.997968,4.652041,5.138618,5.320497,5.347042,5.347777
3,-0.0108,2016-12-01 00:45:00,1,1.538072,1.579295,1.583170,1.586609,1.587583,1.520581,1.586375,...,2.897907,3.020517,3.191080,0.992196,3.500224,3.997968,4.652041,5.138618,5.320497,5.347042
4,-0.0126,2016-12-01 01:00:00,1,1.538999,1.576564,1.579295,1.583170,1.586609,1.522850,1.587583,...,2.788926,2.897907,3.020517,0.838600,3.191080,3.500224,3.997968,4.652041,5.138618,5.320497
5,-0.0014,2016-12-01 01:15:00,1,1.538945,1.574967,1.576564,1.579295,1.583170,1.525727,1.586609,...,2.712861,2.788926,2.897907,0.677703,3.020517,3.191080,3.500224,3.997968,4.652041,5.138618

In [260]:
df_tem_series_result.drop_duplicates(['measurement_result_date']).shape

(3564, 392)

In [261]:
feature_drop = ['measurement_result_date', 'time_diff']
df_series_result = df_tem_series_result.drop_duplicates(['measurement_result_date'])
df_series_result = df_series_result.sort_values(['measurement_result_date'])
df_series_result = df_series_result.drop(feature_drop, axis=1)

In [262]:
df_series_result.shape

(3564, 390)

In [263]:
# Output add 2h close dataset
df_series_result.to_csv(modelling_diff_data_directory, index=None)

## 总数验证
- 25/09/2018

In [265]:
df_tem_only_open[df_tem_only_open['time_diff'] > datetime.timedelta(minutes=15)].describe()

,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,zone_flow_hist_120min,...,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,water_level,average_result_value,time_diff
count,116.0,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,...,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116
mean,1.0,3.119124,3.316479,3.467333,3.607196,3.724673,3.824440,3.954062,4.105109,4.241710,...,1.454313,1.452951,1.452282,1.452235,1.452358,1.452219,21.726293,53.316983,-0.005045,0 days 12:54:18.620689
std,0.0,2.113520,2.010847,1.890066,1.774972,1.679642,1.584320,1.468914,1.371722,1.323992,...,0.082457,0.082456,0.082171,0.081718,0.081078,0.080418,1.920852,1.469389,0.029332,0 days 06:26:48.881616
min,1.0,0.409575,0.423587,0.259724,0.057826,0.032066,0.031695,0.035976,0.050863,0.070638,...,1.261906,1.258727,1.256837,1.255174,1.254849,1.256399,17.400000,51.830000,-0.189800,0 days 00:30:00
25%,1.0,1.694474,1.917451,2.182154,2.405043,2.541044,2.663138,2.965426,3.171051,3.385344,...,1.399428,1.396692,1.396262,1.397146,1.398087,1.395835,20.650000,52.067500,-0.010200,0 days 12:52:30
50%,1.0,2.196582,2.518674,2.774289,3.115749,3.350741,3.478077,3.797702,4.071657,4.282711,...,1.452475,1.451541,1.449900,1.448376,1.447111,1.449585,22.350000,52.815000,-0.003800,0 days 15:45:00
75%,1.0,3.866352,4.199477,4.417145,4.645181,4.775041,4.948724,4.970096,5.059855,5.182343,...,1.516095,1.510668,1.508650,1.513398,1.511172,1.509974,22.950000,54.315000,0.002150,0 days 17:18:45
max,1.0,9.847795,9.249748,8.523466,8.160596,7.922100,7.574102,7.229960,7.849941,8.715873,...,1.684058,1.677553,1.672016,1.665414,1.656844,1.649220,24.550000,60.240000,0.183400,0 days 18:45:00

In [264]:
# 所有 间隔 >15min 的数据 - 需添加 pump 关闭数据的地方
df_tem_only_open[df_tem_only_open['time_diff'] > datetime.timedelta(minutes=15)].shape

(116, 392)

In [266]:
# 间隔 >= 2h - 可以完整加入8个数据的地方
df_tem_only_open[df_tem_only_open['time_diff'] >= datetime.timedelta(hours=2)].shape

(95, 392)

In [267]:
# 15min < 间隔 < 2h - 加入数据少于8个的地方
df_tem_only_open[(df_tem_only_open['time_diff'] > datetime.timedelta(minutes=15))&(df_tem_only_open['time_diff'] < datetime.timedelta(hours=2))].describe()

,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,zone_flow_hist_120min,...,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,water_level,average_result_value,time_diff
count,21.0,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,...,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21
mean,1.0,1.809396,2.019425,2.337398,2.722455,3.075699,3.365465,3.711876,4.139437,4.598986,...,1.470546,1.467255,1.463945,1.460916,1.457920,1.454312,21.714286,54.670476,0.001114,0 days 00:59:17.142857
std,0.0,0.356910,0.441173,0.601736,0.778764,0.917453,1.017434,1.114293,1.246116,1.387091,...,0.078120,0.077472,0.076014,0.075301,0.075659,0.076624,2.278878,0.426304,0.062845,0 days 00:25:18.740079
min,1.0,1.402415,1.443857,1.505266,1.606591,1.827994,1.981700,2.080371,2.154950,2.388413,...,1.322531,1.326416,1.331549,1.331276,1.332313,1.326505,17.400000,53.800000,-0.189800,0 days 00:30:00
25%,1.0,1.505818,1.680799,1.888827,2.075523,2.439903,2.471810,3.019542,3.361535,3.612862,...,1.425314,1.419314,1.416561,1.413273,1.407319,1.400642,20.650000,54.390000,-0.010800,0 days 00:30:00
50%,1.0,1.713117,1.878389,2.201182,2.628134,3.037478,3.482653,3.888338,4.193175,4.517259,...,1.474725,1.473414,1.471420,1.460815,1.447436,1.447490,22.350000,54.600000,0.000600,0 days 01:00:00
75%,1.0,2.037059,2.301147,2.603154,3.135774,3.531929,3.942386,4.205773,4.856076,5.511661,...,1.523639,1.522850,1.520581,1.516995,1.512596,1.510397,22.950000,55.050000,0.007000,0 days 01:15:00
max,1.0,2.582563,2.931976,3.509219,4.463693,5.463131,6.271031,7.003130,7.849941,8.715873,...,1.612625,1.612189,1.613258,1.615350,1.615815,1.613884,24.550000,55.300000,0.183400,0 days 01:45:00